# Hide files that are made by python
*.pyc

# Marvin made virtual env
# Hiding all packages
marvinenv/bin/*
!marvinenv/bin/README.md
marvinenv/lib/sitepackages/*
!marvinenv/lib/sitepackages/README.md
!marvinenv/lib/sitepackages/__init__.py
marvinenv/path.py