# Hide files that are made by python
*.pyc

# Marvin made virtual env
# Hiding all packages
marvin-env/site-packages/
!marvin-env/site-packages/README.md
!marvin-env/site-packages/__init__.py

# Hide user Data
data/contacts.json
data/settings.json
