beautifulsoup4==4.6.3
bs4==0.0.1
certifi==2018.10.15
chardet==3.0.4
Click==7.0
gTTS==2.0.1
gTTS-token==1.1.2
idna==2.7
playsound==1.2.2
PyAudio==0.2.11
requests==2.20.0
six==1.11.0
SpeechRecognition==3.8.1
urllib3==1.24.2
word2number==1.1
