body {font-family: 'Ubuntu', sans-serif; background-color:rgba(180, 182, 185, 1);}
.text-center{text-align: center; margin: auto;}
h1{color:#e8172f; font-size:5rem; padding-bottom:3rem;}
.top{background-color:rgba(40, 16, 189, 1)}
