body {
  font-family: 'Ubuntu', sans-serif;
  background-color: rgba(180, 182, 185, 1);
}

h1 {
  color: #e8172f;
  font-size: 5rem;
}

.text-center {
  text-align: center;
}

.wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -5.375rem;
  margin-left: -5.563rem;
}

a {
  -webkit-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
  -moz-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
  -ms-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
  -o-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
  transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
  display: block;
  margin: 1.25rem auto;
  max-width: 11rem;
  text-decoration: none;
  border-radius: 0.25rem;
  padding: 1.25rem 1.875rem;
}

a.redirect-button {
  color: rgba(14, 32, 125, 0.6);
  box-shadow: rgba(14, 32, 125, 0.4) 0 0rem 0rem 0.125rem inset;
}

a.redirect-button:hover {
  color: rgba(52, 190, 49, 0.85);
  box-shadow: rgba(14, 32, 125, 0.7) 0 0rem 0rem 2.5rem inset;
}
