<!--File for home page of app -->
<!DOCTYPE html>
<html>
<head>

  <title>MARVIN</title>
  <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

</head>
<body>

  <h1 class="text-center">MARVIN DASHBOARD</h1>
  <button><a href="/sendemail">Send Email</a></button>
  <button><a href="/contacts">Contacts</a></button>

</body>
</html>
