<!--File for home page of app -->
<!DOCTYPE html>
<html>
<head>

  <title>MARVIN</title>
  <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/lib/bootstrap.min.css') }}" />
  <script src="{{url_for('static', filename='js/lib/bootstrap.min.js')}}"></script>
  <script src="{{url_for('static', filename='js/lib/jquery.min.js.js')}}"></script>

</head>
<body>

  <h1>Welcome</h1>


  <!--JavaScript Files-->
  <script src="{{url_for('static', filename='js/lib/bootstrap.min.js')}}"></script>
  <script src="{{url_for('static', filename='js/lib/jquery.min.js')}}"></script>

</body>
</html>
