<!--File for home page of app -->
<!DOCTYPE html>
<html>
<head>

  <title>MARVIN</title>
  <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/show_contacts.css') }}">

</head>
<body>

  <h1 class="text-center top">MARVIN CONTACTS</h1>

  <ul>
		{% for option in options %}
		<input type="radio" name="option" value="{{option}}" checked>{{option}}<br>
		{% endfor %}
	</ul>

  <input type="submit">

</body>
</html>
